/* aside navigation */

.main-sidebar{
    width: 300px;
    height: 100vh;
    background-color: #4287f5;
    position: fixed;
    display: flex;
    flex-direction: column;
  
    
}

.main-sidebar nav{
    margin-top: 20px;
    flex-grow: 1;
}
.main-sidebar li{
    background-color: #a1c5ff;
    height: 50px;
    margin: 10px;
    color: #4287f5;
    text-align: center;
    font-weight: bold;
    padding-top: 10px;
    
}

a{
    text-decoration: none;
    color: #4287f5;
}

.main-sidebar .sidebar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-sidebar .sidebox-box{
    background-color: #a1c5ff ;
}

.main-sidebar .sidebar-box:first-child{
    height: 30px;
    width: 30px;
    background-color: #a1c5ff ;
}

.main-sidebar .sidebar-box:last-child{
    height: 80px;
    width: 70px;
    background-color: #a1c5ff ;
}

.main-sidebar .sidebar-footer{
    background-color: #a1c5ff;
    height: 50px;
}
 
.main-sidebar .profile-box{
    background-color: #a1c5ff;
    width: 50px;
    height: 50px;
    align-self: center;
    margin-top: 20px;
}

/* Main wrapper  */
.main-wrapper{
    margin-left: 300px;
}

.main-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: #4287f5;
    padding: 0 20px;
}

.main-header .header-placeholder{
    width: 30px;
    height: 50px;
    background-color: #a1c5ff;
}

.main-header .header-placeholder:first-child{
    height: 40px;
}

.main-content{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    
}
.main-content .box-wrapper{
    flex-basis: 100%;
}

.main-content .box-wrapper:first-child{
    flex-basis: 100%;
}


.main-content .box-wrapper:last-child{
    flex-basis: 100%;
}


.main-content .box-wrapper .inner-content{
    
    height: 550px;
    background-color: #deeaff;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    
 
    
}

.main-content .box-wrapper .inner-content .section_skill{
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

.main-content .box-wrapper .inner-content .section_skill ul{
   font-size: 30px;
   list-style-type: circle;
   padding: 30px;
   line-height: 50px;
    
}
.main-content .box-wrapper .inner-content .section_contact ul{
    font-size: 30px;
    list-style-type: none;
    padding: 30px;
    line-height: 50px;
    text-align: left;
   
     
 }



.main-content .box-wrapper .inner-content .first_section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 500px;
    
}

.main-content .box-wrapper .inner-content .first_section .section_2 img{
    border: 10px solid #4287f5;
    border-radius: 50%;
}


.inner-content footer{
    
    height: 50px;
    background-color: #a1c5ff;
    
   
}

.inner-content header{
    
    height: 50px;
    background-color:#deeaff;
    
   
}

.main-content .box-wrapper .inner-content p{
    font-size: 40px;
    color: #4287f5;
    padding: 30px;
    font-family: "Sofia", sans-serif;
   
    
}


hr{
    border: 5px solid green;
    border-radius: 5px;
    width: 30px;
    margin-left: 70px;
}



.main-content .box-wrapper .inner-content span{
    color: darkblue;
    letter-spacing: 7px;
}

.main-content .box-wrapper .inner-content .skills{
    color: darkblue;
    letter-spacing: 10px;
    padding-left: 70px;
    padding-top: 70px;
    font-size: 20px;
}

#skills .inner-content span{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.main-sidebar .sidebar-footer{
   display: flex;
   justify-content: space-around;
   
    
}
.main-sidebar .sidebar-footer i{
    color: #4287f5;
   font-size: 20px;
  
    
}

@media screen and (max-width: 992px) {
    .main-sidebar{
width: 70px;
    } 
    
    li{
        font-size: 13px;
    }
    .main-wrapper{
        margin-left: 50px;
    } 

    .main-content .box-wrapper{
        flex-basis: 100%;
    }
    .main-content .box-wrapper .inner-content p{
        font-size: 20px;
        color: #4287f5;
        padding: 50px;
        font-family: "Sofia", sans-serif;
        
    }
    .main-content .box-wrapper .inner-content .first_section .section_2 img{
        border: 5px solid #4287f5;
        border-radius: 50%;
        width: 100px;
        height: 100px;
    }
}


/* About Me */

.main-content .box-wrapper .inner-content .about .container .row .col-lg-7 .progress{
    background-color: rgb(223, 219, 219);
    justify-content: flex-start;
    border-radius: 20px;
    align-items: center;
    position: relative;
    height: 40px;
    width: 100%;
    margin: 50px;
   

}

.main-content .box-wrapper .inner-content .about .container .row .col-lg-7 .pro-value1{
    animation: load1 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 40px;
    width: 0;
    
}

.pro-value2{
    animation: load2 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 40px;
    width: 0;
}

.pro-value3{
    animation: load3 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 40px;
    width: 0;
}

.pro-value4{
    animation: load4 3s normal forwards;
    border-radius: 50px;
    background-color: black;
    height: 40px;
    width: 0;
}
.main-content .box-wrapper .inner-content .about .container .row .col-lg-7 .progress p{
    color: white;
    padding: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

@keyframes load1{
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}

@keyframes load2{
    0%{
        width: 0;
    }
    100%{
        width: 88%;
    }
}
@keyframes load3{
    0%{
        width: 0;
    }
    100%{
        width: 68%;
    }
}
@keyframes load4{
    0%{
        width: 0;
    }
    100%{
        width: 78%;
    }
}

