.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: repeat(8, 60px) ;
    grid-gap: 10px;
    text-align: center;
    justify-content: center;
    
}
.cell{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.item-1{
    grid-column: 1/ span 3;
    background-color: lightblue;
    
}
.item-2{
    grid-row: 2 / span 2;
    background-color: plum;
}
.item-3{
    grid-column: 2 /  4;
    grid-row:  2 / 5;
    background-color: rgb(223, 174, 83);
   
}
.item-4{
    grid-row: 4 / span 3 ;
    background-color: rgb(121, 173, 42);
}
.item-5{
   grid-column: 2 /4;
   grid-row: 5 / span 2;
   background-color: grey;

}
.item-6{
    grid-column: 1 / span 2;
    background-color: darkgreen;
}

.item-7{
    background-color: pink;
}
.item-8{
    grid-column: 1 / span 3;
    background-color: rgb(253, 166, 5);
}