.container{
    display: grid;
    /* grid-template-columns: repeat(3, auto); giver the three grid same size  */
    grid-template-columns: 1fr 2fr ;
    grid-template-rows: repeat(4, 60px);
    grid-row: 1 / span 2;
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    grid-gap: 20px;
    text-align: center;
    
}
.cell{
    border: 2px solid red;
}

.item-7{
   
    grid-column: 1 /span 2;
}