
<%-include('header')-%>
<div class="text-center center-div ">
    <div class="container w-25 border py-5" >
        <div class="title pb-5">
            <h2 class="font-weight-bold">Welcome</h2>
            <span>admin page</span>
            <a href="/route/logout">Logout</a>
        </div>
     
    </div>
</div>
<%-include('footer')-%>